<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="FileServer.FileBrowserService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5000/"/>
          </baseAddresses>
        </host>
        <endpoint address="FileBrowserService" binding="netTcpBinding" contract="FileServer.IFileBrowserService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>

